{% extends 'base.html.twig' %}

{% block title %}Hello TutoController!{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center flex-grow">
        <h1 class="text-center text-4xl font-black text-gray-900">Bienvenue sur le site de tes cadeaux de Noël</h1>
        <p class=" text-2xl font-semibold">Le but du jeu est de trouver tes cadeaux à partir de certains indices que
            nous sommes seuls à connaitre.😉</p>
        <h1 class="text-center text-4xl font-black text-gray-900">Voici comment Jouer</h1>
        <div>
            <div class=" flex flex-col items-center">
                <img class="w-full" src="{{ asset('img/tuto1.PNG') }}" alt="">
                <p class=" text-2xl font-semibold">Dans la barre d'url il te suffira de remplacer le texte après
                    emma.aboudebug.com/ pour naviguer dans le site</p>
            </div>
            <div class="flex flex-col items-center">
                <img class="w-full" src="{{ asset('img/tuto2.PNG') }}" alt="">
                <p class="whitespace-normal text-2xl font-semibold">Faisons un test, On va aller sur la page test1, donc
                    ce que tu as à faire c'est de remplacer "tuto", dans la barre d'url par "test1"</p>

            </div>

        </div>
    </div>


{% endblock %}
