{% extends 'base.html.twig' %}

{% block title %}Hello TutoController!{% endblock %}

{% block body %}

<div class="flex flex-col items-center justify-center flex-grow">
<h1 class="text-center">
Voici comment Jouer
</h1>
<div class="flex space-x-5">
<img class="w-80" src="{{asset('img/burgerC.png')}}" alt="">
<img class="w-80"src="{{asset('img/burgerD.png')}}" alt="">
</div>
</div>


{% endblock %}
