{% extends 'base.html.twig' %}


{% block body %} 

<div class="flex flex-col items-center justify-center flex-grow">
<p >Bravo tu as réussi le premier exercice !</p>
<p>tu mérites un 20/20</p>

<h1>Passons au Deuxième</h1>

</div>



{% endblock %}