{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex flex-grow">
        <img src="{{ asset('img/couple.png') }}" alt="" class="w-1/2">
        <div class="bg-gray-100 rounded p-3">
            <h1 class="text-4xl font-bold text-center mb-5">Bien joué ma p'tite tomate</h1>
            <p class="text-xl">En effet, j'aime beaucoup cette activité que nous faisons, qui est de regarder des films assis ensemble sur le canapé ou sur mon lit.
                <br>
                <br>
            J'aime aussi beaucoup quand on se fait des caresses. même si cela a tendance à endormir l'un de nous deux.
                <br>
                <br>
            Ton premier cadeau est un dossier rempli de films dont tu m'as fait une liste un jour où nous sommes allé à la FNAC.</p>
        </div>
    </div>

{% endblock %}