{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex flex-grow">
        <img
                src="https://m.media-amazon.com/images/I/91lV18S9QQL._AC_UF1000,1000_QL80_.jpg"
             alt="" class="w-1/2 rounded-2xl ">
        <div class="bg-gray-100 rounded p-3">
            <h1 class="text-4xl font-bold text-center mb-5">Felicitation vous venez d'être acceptée à POUDLARD</h1>
            <h2 class="text-3xl font-semibold mb-2">Laissons ce bon vieux Choixpeau magique choisir dans quelle grande maiso, tu iras</h2>
            <p class="text-xl">En ce jour mémorable, le Choixpeau Magique de Poudlard a été invoqué pour révéler ta véritable maison.
                Après une mûre réflexion et une étude approfondie de tes traits les plus admirables, le choix a été clair.

                <br><br>

                Avec ton esprit vif, ta curiosité sans bornes, et ton engagement inébranlable envers la sagesse et l'apprentissage, Serdaigle
                t'ouvre grand ses portes. Rejoins les rangs des plus brillants et des plus ingénieux sorciers de notre temps, et porte avec fierté les couleurs
                du bleu et de l'argent.
                <br><br>

                Ainsi nous te souhaitons la bienvenue dans la maison de Serdaigle, et nous t'offrons ce merveilleux présent.
              </p>
        </div>
    </div>

{% endblock %}