{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex flex-grow">
        <img src="{{ asset('img/angel.png') }}" alt="" class="w-1/2">
        <div class="bg-gray-100 rounded p-3">
            <h1 class="text-4xl font-bold text-center mb-5">Qu'est-ce que t'es forte</h1>
            <p class="text-xl">Ta première impression doit-être : <span class="capitalize text-red-500"> "Mais il est où stitch ?"</span>
                <br>
                <br>
                Et bien la réponse est simple, il est dans ton coeur.
                <br>
                <br>
                Plus sérieusement tu le trouvera en tapant le nom de la copine de stitch dans la barre URL (comme pour les indices).</p>
        </div>
    </div>

{% endblock %}