{% extends 'base.html.twig' %}

{% block title %}Hello IndicesController!{% endblock %}

{% block body %}
<div>
<a href="{{path("indice1")}}">Premier cadeau</a>
<a href="{{path("indice2")}}">Deuxième cadeau</a>
<a href="{{path("indice3")}}">Troisième cadeau</a>
<a href="{{path("indice4")}}">Quatrième cadeau</a>
</div>
{% endblock %}
