{% extends 'base.html.twig' %}




{% block body %}

    <div class=" flex flex-col justify-center items-center flex-grow">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Question_mark_alternate.svg/langfr-90px-Question_mark_alternate.svg.png" alt=""
             class="w-96">
        <p class="text-3xl text-gray-600 font-bold ">
            Ils ne sont là que depuis une partie de ta vie, mais sache que tu represente toute leur vie.
        </p>
        <p>P'tit indice : c'est juste leur initial par ordre d'arrivée dans ta vie</p>

    </div>

{% endblock %}