{% extends 'base.html.twig' %}




{% block body %}

    <div class=" flex flex-col justify-center items-center flex-grow">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Question_mark_alternate.svg/langfr-90px-Question_mark_alternate.svg.png" alt=""
             class="w-96">
        <p class="text-3xl text-blue-500 font-bold ">
            Cet être était present lorsqu'on s'est intimement rapproché pour la première fois.
        </p>
        <p class="text-sm">PS: la couleur du texte est un indice</p>
    </div>

{% endblock %}