<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="container mx-auto px-2 min-h-screen flex-col flex">
<img src="{{asset('img/hero1.jpg')}}" alt="" class="w-screen h-screen absolute left-0 top-0 -z-10 object-cover opacity-65">
<nav class=" bg-gray-100 p-4 rounded-2xl space-x-5">
<a href="{{path("home")}}" class="text-4xl text-gray-700 underline transition duration-300">Accueil</a>
<a href="{{path("app_tuto")}}" class="text-4xl text-gray-700 underline transition duration-300">Tutoriel</a>
<a href="{{path("app_indices")}}" class="text-4xl text-gray-700 underline transition duration-300">Indices</a>
</nav>
    {% block body %}
    {% endblock %}
</div>


</body>
</html>